/* Global colors */
:root {
    --background: #2C2F3A; /* Background standard pour tous les blocs */
    --background-hover: rgba(0, 0, 0, 0.2);
    --color: #FFFFFF;
    --element-color: #1AC707; /* Vert pour certains éléments */
    --shadow: #1A1D23;
    --background-transparent: rgba(0, 0, 0, 0.5);
    --svg-color: filter: brightness(0.8);
}

/* Elements de type block */
.block {
    background: var(--background); /* Définir une couleur de fond uniforme */
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Lors du survol des éléments de type block */
.block:hover {
    background: var(--background-hover); /* Couleur de fond modifiée au survol */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Effet de survol */
}

/* Barre des news centrée sans changement de couleur au survol */
.news-block {
    background: var(--background); /* Couleur de fond uniforme */
    width: 80%; /* Largeur de la barre */
    max-width: 40rem; /* Limite la largeur pour la rendre responsive */
    margin: 0 auto; /* Centre la barre horizontalement */
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-block:hover {
    transform: scale(1.05); /* Effet de zoom lors du survol */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Bloc d'actualités */
.news-content {
    background: var(--background); /* Appliquer la couleur de fond uniforme */
    padding: 1rem 0;
}

/* News header */
.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.news-header .title {
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Rest of the news block */
.news-block-content {
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-author span {
    font-weight: 700;
}

/*******************************************************************************

 * Status server

 ******************************************************************************/

.status-server {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    width: 25rem;
    height: 3rem;
    color: var(--color);
    border-radius: 10px;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.status-server:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.server-status-icon {
    height: 3.3rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.server-status-icon:hover {
    transform: rotate(15deg);
    opacity: 0.8;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.4rem 0.5rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

/*******************************************************************************

 * Social media block

 ******************************************************************************/

.social-block {
    display: flex;
    background: var(--background-transparent);
    width: 90px;
    height: 90px;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-block:hover {
    transform: scale(1.1);
    background: var(--background-hover);
}

/* Customize social media icons */
.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color);
}

.social-block:hover .icon-social {
    filter: brightness(0.8); /* Assurer une teinte uniforme des icônes */
}

/*******************************************************************************

 * Sidebar

 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--background-transparent);
}

.player-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    border-radius: 15px;
}

.play-btn {
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    pointer-events: none;
}

.settings-btn {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--element-color);
    margin: 0 1.5rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.settings-btn:hover {
    transform: scale(1.1);
    color: var(--hover-color);
}

/*******************************************************************************

 * News Section (news tab)

 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
}

.titre-tab-new {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
}

.news-list {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin: 1rem 0;
}

.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 10px;
    background: var(--background-transparent);
    transition: transform 0.3s ease, background 0.3s ease;
}

.news-block:hover {
    background: var(--background-hover);
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;
}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: bold;
}

.news-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

/*******************************************************************************

 * Launch Bar Section (launche bar at the bottom)

 ******************************************************************************/

.launch-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

.launch-bar .btn-play {
    font-size: 1.5rem;
    color: var(--color);
    background: var(--background);
    padding: 1rem;
    border-radius: 5px;
    transition: background 0.2s ease, transform 0.2s ease;
}

.launch-bar .btn-play:hover {
    background: var(--background-hover);
    transform: scale(1.05);
}

.launch-bar .settings-btn {
    font-size: 1.5rem;
    color: var(--color);
    background: var(--background);
    padding: 1rem;
    border-radius: 5px;
}

.launch-bar .settings-btn:hover {
    background: var(--background-hover);
    transform: scale(1.05);
}
